
@font-face {
  font-family: 'LidiaMedium';
  src: url('../../../fonts/LidiaMedium/LidiaMedium.eot?#iefix') format('embedded-opentype'),  url('../../../fonts/LidiaMedium/LidiaMedium.woff') format('woff'), url('../../../fonts/LidiaMedium/LidiaMedium.ttf')  format('truetype'), url('../../../fonts/LidiaMedium/LidiaMedium.svg#LidiaMedium/LidiaMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
