.button_theme_landing2top
	// font-weight bold
	background-color #f90
	color #222
	font-family 'Roboto'
	transform scaleX(-20deg)
	/*&:before, &:after
		content ''
		background inherit
		width 15px
		position absolute
		top 0
		bottom -1px
		transform skewX(-20deg)
		z-index -1
		border-bottom 1px solid #aaa
	&:before
		left -8px
	&:after
		right -8px*/