@font-face 
	font-family: 'LidiaMedium'
	src: url('../../../fonts/LidiaMedium/LidiaMedium.eot?#iefix') format('embedded-opentype'),  url('../../../fonts/LidiaMedium/LidiaMedium.woff') format('woff'), url('../../../fonts/LidiaMedium/LidiaMedium.ttf')  format('truetype'), url('../../../fonts/LidiaMedium/LidiaMedium.svg#LidiaMedium') format('svg')
	font-weight: normal
	font-style: normal


@font-face
	font-family: 'Myriad Pro'
	src: url('../../../fonts/myriadpro/myriadpro.eot')
	src: url('../../../fonts/myriadpro/myriadpro.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/myriadpro/myriadpro.woff') format('woff'),
		url('../../../fonts/myriadpro/myriadpro.ttf') format('truetype')
	font-weight: normal
	font-style: normal


.header_theme_trofey
	background #333
	color #fff
	font-family 'Myriad Pro'
	padding 10px 20px