@font-face
	font-family: 'Romul'
	src: url('../../../fonts/romul/romul.eot?#iefix') format('embedded-opentype'),  url('../../../fonts/romul/romul.otf')  format('opentype'),
			 url('../../../fonts/romul/romul.woff') format('woff'), url('../../../fonts/romul/romul.ttf')  format('truetype'), url('../../../fonts/romul/romul.svg#Romul') format('svg')
	font-weight: normal
	font-style: normal
	
@font-face
		font-family: 'Cyntho Pro'
		src: local('CynthoPro-Italic'), url('../../../fonts/cynthopro/Cynthopro-italic.woff2') format('woff2'), url('../../../fonts/cynthopro/Cynthopro-italic.woff') format('woff'), url('../../../fonts/cynthopro/Cynthopro-italic.ttf') format('truetype')
		font-weight: 400
		font-style: italic

@font-face
		font-family: 'Cyntho Pro'
		src: local('CynthoPro-Regular'), url('../../../fonts/cynthopro/Cynthopro-regular.woff2') format('woff2'), url('../../../fonts/cynthopro/Cynthopro-regular.woff') format('woff'), url('../../../fonts/cynthopro/Cynthopro-regular.ttf') format('truetype')
		font-weight: 400
		font-style: normal

	
.header_theme_elena-borchenko
	font-family 'Cyntho Pro'
	background #F0F1F2