@font-face
	font-family: 'RoadNumbers'
	src: url('../../fonts/RoadNumbers/RoadNumbers.eot?#iefix') format('embedded-opentype'),  url('../../fonts/RoadNumbers/RoadNumbers.otf')  format('opentype'),
			 url('../../fonts/RoadNumbers/RoadNumbers.woff') format('woff'), url('../../fonts/RoadNumbers/RoadNumbers.ttf')  format('truetype'), url('../../fonts/RoadNumbers/RoadNumbers.svg#RoadNumbers') format('svg')
	font-weight: normal
	font-style: normal

.automagazin777
	font-family 'Arial'